# 데이터 프레임 고급 인덱싱

In [2]:
# import
import numpy as np  
import pandas as pd

In [3]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [4]:
# 시리즈 형식
df.loc["a"]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [5]:
df["A"]

a    10
b    14
c    18
Name: A, dtype: int32

In [7]:
df.loc["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [8]:
df.loc[["b", "c"]]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [10]:
df.A > 15

a    False
b    False
c     True
Name: A, dtype: bool

In [11]:
# True만 표현
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

In [12]:
df2 = pd.DataFrame(np.arange(10, 26).reshape(4, 4), columns=["A", "B", "C", "D"])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [14]:
# 이름으로 부르는 것이라서 1~3까지 다 출력
df2.loc[1:3]

    A   B   C   D
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

### 인덱싱값을 행과 열 모두 받는 경우

In [17]:
df.loc["a", "A"]

10

In [22]:
df.loc["b":, "A"]

b    14
c    18
Name: A, dtype: int32

In [23]:
df.loc["a", :]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [40]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [38]:
df.iloc[0, 1]

11

In [43]:
df.iloc[:2, 2]

a    12
b    16
Name: C, dtype: int32