In [2]:
import seaborn as sns
tips = sns.load_dataset("tips")
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [3]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips.tail()

     total_bill   tip     sex smoker   day    time  size   tip_pct
239       29.03  5.92    Male     No   Sat  Dinner     3  0.203927
240       27.18  2.00  Female    Yes   Sat  Dinner     2  0.073584
241       22.67  2.00    Male    Yes   Sat  Dinner     2  0.088222
242       17.82  1.75    Male     No   Sat  Dinner     2  0.098204
243       18.78  3.00  Female     No  Thur  Dinner     2  0.159744

In [4]:
tips.describe()

       total_bill         tip        size     tip_pct
count  244.000000  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672    0.160803
std      8.902412    1.383638    0.951100    0.061072
min      3.070000    1.000000    1.000000    0.035638
25%     13.347500    2.000000    2.000000    0.129127
50%     17.795000    2.900000    2.000000    0.154770
75%     24.127500    3.562500    3.000000    0.191475
max     50.810000   10.000000    6.000000    0.710345

In [7]:
tips.groupby("sex").count()

        total_bill  tip  smoker  day  time  size  tip_pct
sex
Male           157  157     157  157   157   157      157
Female          87   87      87   87    87    87       87

In [6]:
# 성별의 숫자
tips.groupby("sex").size()

sex
Male      157
Female     87
dtype: int64

In [9]:
# 성별과 흡연으로 나누기
tips.groupby(["sex", "smoker"]).size()

sex     smoker
Male    Yes       60
        No        97
Female  Yes       33
        No        54
dtype: int64

In [12]:
tips.pivot_table("tip_pct", "sex", "smoker", aggfunc="count", margins=True)

smoker  Yes   No  All
sex
Male     60   97  157
Female   33   54   87
All      93  151  244

In [13]:
tips.groupby("sex")[["tip_pct"]].mean()

         tip_pct
sex
Male    0.157651
Female  0.166491

In [14]:
tips.groupby("smoker")[["tip_pct"]].mean()

         tip_pct
smoker
Yes     0.163196
No      0.159328

In [15]:
tips.pivot_table("tip_pct", "sex")

         tip_pct
sex
Male    0.157651
Female  0.166491

In [16]:
tips.pivot_table("tip_pct", ["sex", "smoker"])

                tip_pct
sex    smoker
Male   Yes     0.152771
       No      0.160669
Female Yes     0.182150
       No      0.156921

In [21]:
tips.groupby("day").size()

day
Thur    62
Fri     19
Sat     87
Sun     76
dtype: int64

In [23]:
tips.groupby("time").size()

time
Lunch      68
Dinner    176
dtype: int64

In [24]:
tips.groupby("size").size()

size
1      4
2    156
3     38
4     37
5      5
6      4
dtype: int64

In [25]:
# 요일별 팁 평균비율
tips.groupby("day")[["tip_pct"]].mean()

       tip_pct
day
Thur  0.161276
Fri   0.169913
Sat   0.153152
Sun   0.166897

In [26]:
# 시간 별 팁 평균비율
tips.groupby("time")[["tip_pct"]].mean()

         tip_pct
time
Lunch   0.164128
Dinner  0.159518

In [27]:
# 인원수 별 팁 평균비율
tips.groupby("size")[["tip_pct"]].mean()

       tip_pct
size
1     0.217292
2     0.165719
3     0.152157
4     0.145949
5     0.141495
6     0.156229

In [32]:
# 요일과 인원수 별 팁 평균비율
tips.pivot_table("tip_pct", ["day","size"])

            tip_pct
day  size
Thur 1     0.181728
     2     0.163935
     3     0.144599
     4     0.145515
     5     0.121389
     6     0.173706
Fri  1     0.223776
     2     0.168693
     3     0.187735
     4     0.117750
Sat  1     0.231832
     2     0.155289
     3     0.151439
     4     0.138289
     5     0.106572
Sun  2     0.180870
     3     0.152662
     4     0.153168
     5     0.159839
     6     0.103799

In [38]:
tips.pivot_table("tip_pct", ["size", "day","time"])

                   tip_pct
size day  time
1    Thur Lunch   0.181728
     Fri  Lunch   0.223776
     Sat  Dinner  0.231832
2    Thur Lunch   0.164024
          Dinner  0.159744
     Fri  Lunch   0.181969
          Dinner  0.162659
     Sat  Dinner  0.155289
     Sun  Dinner  0.180870
3    Thur Lunch   0.144599
     Fri  Lunch   0.187735
     Sat  Dinner  0.151439
     Sun  Dinner  0.152662
4    Thur Lunch   0.145515
     Fri  Dinner  0.117750
     Sat  Dinner  0.138289
     Sun  Dinner  0.153168
5    Thur Lunch   0.121389
     Sat  Dinner  0.106572
     Sun  Dinner  0.159839
6    Thur Lunch   0.173706
     Sun  Dinner  0.103799

In [40]:
tips.pivot_table("tip_pct", "day", "time",margins=True)

time     Lunch    Dinner       All
day
Thur  0.161301  0.159744  0.161276
Fri   0.188765  0.158916  0.169913
Sat        NaN  0.153152  0.153152
Sun        NaN  0.166897  0.166897
All   0.164128  0.159518  0.160803

In [41]:
tips.pivot_table("tip_pct", index=['day','time'], columns='size' ,margins=True, margins_name='평균')

size                1         2         3         4         5         6  \
day  time
Thur Lunch   0.181728  0.164024  0.144599  0.145515  0.121389  0.173706
     Dinner       NaN  0.159744       NaN       NaN       NaN       NaN
Fri  Lunch   0.223776  0.181969  0.187735       NaN       NaN       NaN
     Dinner       NaN  0.162659       NaN  0.117750       NaN       NaN
Sat  Dinner  0.231832  0.155289  0.151439  0.138289  0.106572       NaN
Sun  Dinner       NaN  0.180870  0.152662  0.153168  0.159839  0.103799
평균           0.217292  0.165719  0.152157  0.145949  0.141495  0.156229

size               평균
day  time
Thur Lunch   0.161301
     Dinner  0.159744
Fri  Lunch   0.188765
     Dinner  0.158916
Sat  Dinner  0.153152
Sun  Dinner  0.166897
평균           0.160803

In [42]:
def peak_to_peak(x):
    return x.max() - x.min()


tips.groupby(["sex", "smoker"])[["tip"]].agg(peak_to_peak)

                tip
sex    smoker
Male   Yes     9.00
       No      7.75
Female Yes     5.50
       No      4.20

In [43]:
tips.groupby(["sex", "smoker"])[["tip_pct"]].agg(peak_to_peak)

                tip_pct
sex    smoker
Male   Yes     0.674707
       No      0.220186
Female Yes     0.360233
       No      0.195876

In [46]:
tips.groupby(["sex", "smoker"])[["tip_pct"]].agg(["mean", peak_to_peak])

                tip_pct
                   mean peak_to_peak
sex    smoker
Male   Yes     0.152771     0.674707
       No      0.160669     0.220186
Female Yes     0.182150     0.360233
       No      0.156921     0.195876

In [47]:
tips.groupby(["sex", "smoker"]).agg(
    {'tip_pct': 'mean', 'total_bill': peak_to_peak})

                tip_pct  total_bill
sex    smoker
Male   Yes     0.152771       43.56
       No      0.160669       40.82
Female Yes     0.182150       41.23
       No      0.156921       28.58

In [49]:
tips.pivot_table(['tip_pct', 'size'], ['sex', 'day'], 'smoker')

                 size             tip_pct
smoker            Yes        No       Yes        No
sex    day
Male   Thur  2.300000  2.500000  0.164417  0.165706
       Fri   2.125000  2.000000  0.144730  0.138005
       Sat   2.629630  2.656250  0.139067  0.162132
       Sun   2.600000  2.883721  0.173964  0.158291
Female Thur  2.428571  2.480000  0.163073  0.155971
       Fri   2.000000  2.500000  0.209129  0.165296
       Sat   2.200000  2.307692  0.163817  0.147993
       Sun   2.500000  3.071429  0.237075  0.165710

In [50]:
tips.pivot_table('size', ['time', 'sex', 'smoker'], 'day',
                 aggfunc='sum', fill_value=0)

day                   Thur  Fri  Sat  Sun
time   sex    smoker
Lunch  Male   Yes       23    5    0    0
              No        50    0    0    0
       Female Yes       17    6    0    0
              No        60    3    0    0
Dinner Male   Yes        0   12   71   39
              No         0    4   85  124
       Female Yes        0    8   33   10
              No         2    2   30   43