# 과제 한빛 네트워크 크롤링하기

In [132]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests
headers = {'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36'}
url ='https://www.hanbit.co.kr/academy/books/new_book_list.html'
html = requests.get(url, headers = headers).text
soup = BeautifulSoup(html, 'html.parser')

In [133]:
new_booklist = soup.select_one('.sub_book_list_area')

In [134]:
book_areas = new_booklist.find_all('li')
book_areas[1].get_text()

'\n\n\n\n\n\n\n\n\n\n28,000원\n\n\n\n\n\n\n\nIT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습\n김지연 \n\n\n'

In [135]:
book_areas[1].find('p', 'book_tit').get_text()

'IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습'

In [136]:
book_areas[1].find('p', 'book_writer').get_text()

'김지연 '

In [137]:
book_areas[1].find('span', 'price').get_text()

'28,000원'

In [138]:
book_areas[1].find('span', 'price').get_text().strip('원')

'28,000'

In [139]:
book_names =[];  book_writers= [];  book_prices=[]
new_booklist = soup.select_one('.sub_book_list_area')
book_areas = new_booklist.find_all('li')

In [140]:
for book in book_areas[1:]:
    book_names.append(book.find('p', 'book_tit').get_text())
    book_writers.append(book.find('p', 'book_writer').get_text())
    book_prices.append(book.find('span', 'price').get_text())

In [141]:
book_names

['IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습',
 '포르잔 C++ 바이블',
 '딥러닝을 위한 선형대수학',
 'IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)',
 '대학을 버려야 대학이 산다',
 'IT CookBook, 따라 하면서 배우는 사물인터넷',
 'R로 하는 다변량 데이터 분석 : 이론부터 실무 활용까지',
 '창의적 공학설계(3판)',
 '공학 핵심수학(2판)  : 기초부터 심화까지 핵심만 쏙쏙',
 '응용이 보이는 선형대수학 : 파이썬과 함께하는 선형대수학 이론과 응용',
 'IT CookBook, 초연결 사회의 데이터통신과 네트워킹',
 'IT CookBook, 쉽게 배우는 MFC 윈도우 프로그래밍',
 'IT CookBook, 인공지능 시대를 위한 컴퓨터 과학 개론',
 'IT CookBook, 코틀린을 활용한 안드로이드 프로그래밍',
 'IT CookBook, 처음 만나는 신재생에너지',
 '프리드버그 선형대수학',
 'IT CookBook, CentOS 리눅스',
 'Microeconomics, 6th Edition, Asia Edition',
 '누구나 파이썬 통계분석']

In [142]:
first_books = pd.DataFrame({
    'book_name' : book_names,
    'book_writer': book_writers,
    'book_price' : book_prices
})

### 답

In [143]:
first_books

,book_name,book_writer,book_price
0,"IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",김지연,"28,000원"
1,포르잔 C++ 바이블,"Behrouz A. Forouzan , Richard F. Gilberg","45,000원"
2,딥러닝을 위한 선형대수학,Gilbert Strang,"38,000원"
3,"IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)","박우창 , 남송휘 , 이현룡","29,000원"
4,대학을 버려야 대학이 산다,조동성 외 인천대학교 가족 178명,"18,000원"
5,"IT CookBook, 따라 하면서 배우는 사물인터넷",양재삼,"28,000원"
6,R로 하는 다변량 데이터 분석 : 이론부터 실무 활용까지,"카와하시 잇코 , 이와마 노리카즈 , 스즈키 마사유키","32,000원"
7,창의적 공학설계(3판),김은경,"23,000원"
8,공학 핵심수학(2판) : 기초부터 심화까지 핵심만 쏙쏙,함남우,"23,000원"
9,응용이 보이는 선형대수학 : 파이썬과 함께하는 선형대수학 이론과 응용,이건명,"31,000원"
10,"IT CookBook, 초연결 사회의 데이터통신과 네트워킹",강문식,"29,000원"
11,"IT CookBook, 쉽게 배우는 MFC 윈도우 프로그래밍","김선우 , 신화선","30,000원"
12,"IT CookBook, 인공지능 시대를 위한 컴퓨터 과학 개론",정기철,"27,000원"
13,"IT CookBook, 코틀린을 활용한 안드로이드 프로그래밍","우재남 , 유혜림","34,000원"
14,"IT CookBook, 처음 만나는 신재생에너지",김지홍,"25,000원"
15,프리드버그 선형대수학,"스티븐 H. 프리드버그 , 아놀드 J. 인셀 , 로렌스 E. 스펜스","35,000원"
16,"IT CookBook, CentOS 리눅스",이종원,"32,000원"
17,"Microeconomics, 6th Edition, Asia Edition","David Besanko , Ronald Braeutigam","49,000원"
18,누구나 파이썬 통계분석,타니아이 히로키,"26,000원"

### 다음단계

In [144]:
newlist = soup.select('.book_tit')
newlist

[<p class="book_tit"><a href="/academy/books/book_view.html?p_code=B4797877052">포르잔 C++ 에센셜</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B6503201303">IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B1851418066">포르잔 C++ 바이블</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B9479195027">딥러닝을 위한 선형대수학</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B2082711299">IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B1825116777">대학을 버려야 대학이 산다</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B5937482728">IT CookBook, 따라 하면서 배우는 사물인터넷</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B8404138031">R로 하는 다변량 데이터 분석 : 이론부터 실무 활용까지</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B8573612142">창의적 공학설계(3판)</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B8658821149">공학 핵심수학(2판)  : 기초부터 심화까지 핵심만 쏙쏙</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B7926921440">응용이 보이는 선형대수학 : 파이썬과 함께하는 선형대수학 이론과 응용</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B4295361584">IT CookBook, 초연결 사회의 데이터통신과 네트워킹</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B3126325886">IT CookBook, 쉽게 배우는 MFC 윈도우 프로그래밍</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B3715221949">IT CookBook, 인공지능 시대를 위한 컴퓨터 과학 개론</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B3055805288">IT CookBook, 코틀린을 활용한 안드로이드 프로그래밍</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B4872546419">IT CookBook, 처음 만나는 신재생에너지</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B1710834745">프리드버그 선형대수학</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B8200129293">IT CookBook, CentOS 리눅스</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B8983481859">Microeconomics, 6th Edition, Asia Edition</a></p>,
 <p class="book_tit"><a href="/academy/books/book_view.html?p_code=B2049588591">누구나 파이썬 통계분석</a></p>]

In [145]:
newlist[1].find('a').attrs['href']

'/academy/books/book_view.html?p_code=B6503201303'

In [146]:
aurl ='https://www.hanbit.co.kr/'
burl = 'academy/books/book_view.html?p_code=B4797877052'
html = requests.get(aurl+burl, headers = headers).text
soup = BeautifulSoup(html, 'html.parser')

In [147]:
a = soup.select_one('.store_product_info_box')
a.find('h3').string

'포르잔 C++ 에센셜'

In [148]:
a.find_all('li')[0].get_text().split(':')[-1]

' Behrouz A. Forouzan , Richard F. Gilberg '

In [149]:
a.find_all('li')[1].get_text().split(':')[-1]

' 윤인성 '

In [150]:
a.find_all('li')[2].get_text().split(':')[-1]

' 2020-11-10'

In [151]:
a.find_all('li')[5].get_text().split(':')[-1]

'4506'

In [152]:
a.find_all('li')[1].get_text().split(':')[-1]

' 윤인성 '

In [153]:
b = soup.select_one('.store_payment_area')
b.find('span', 'pbr').string.strip('원')

'32,000'

In [154]:
b.find_all('span')[6].get_text().split('점')[0]

'960'

In [155]:
book_names =[]; book_dates=[]; book_pages=[];book_writers= [];  ori_book_prices=[]; sale_book_prices=[]; mileages =[]; translators =[];

In [156]:
for book in newlist:
    headers = {'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36'}
    aurl ='https://www.hanbit.co.kr/'
    burl = book.find('a').attrs['href']
    html = requests.get(aurl+burl, headers = headers).text
    soup = BeautifulSoup(html, 'html.parser')
    a = soup.select_one('.store_product_info_box')
    b = soup.select_one('.store_payment_area')
    book_names.append(a.find('h3').string)
    book_writers.append(a.find_all('li')[0].get_text().split(':')[-1])
    ori_book_prices.append(b.find('span', 'pbr').string.strip('원'))
    sale_book_prices.append(b.find_all('span')[3].get_text().split('원')[0].replace(',',''))
    mileages.append(b.find_all('span')[6].get_text().split('점')[0].replace(',',''))
    if a.find_all('li')[1].get_text().split(":")[0] == '번역 ' :
        translators.append(a.find_all('li')[1].get_text().split(':')[-1])
        book_dates.append(a.find_all('li')[2].get_text().split(':')[-1])
        book_pages.append(a.find_all('li')[3].get_text().split(':')[-1].strip('쪽'))
    else:
        translators.append(' ')
        book_dates.append(a.find_all('li')[1].get_text().split(':')[-1])
        book_pages.append(a.find_all('li')[2].get_text().split(':')[-1].strip('쪽'))

In [157]:
second_book = pd.DataFrame({
    'book_name' : book_names,
    'book_writer' : book_writers,
    'translator' : translators,
    'book_date' : book_dates,
    'book_page' : book_pages,
    'ori_book_price' : ori_book_prices,
    'sale_book_price' : sale_book_prices,
    'mileage' : mileages
})

### 답

In [158]:
second_book

,book_name,book_writer,translator,book_date,book_page,ori_book_price,sale_book_price,mileage
0,포르잔 C++ 에센셜,"Behrouz A. Forouzan , Richard F. Gilberg",윤인성,2020-11-10,756,"32,000",32000,960
1,"IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",김지연,,2020-09-28,536,"28,000",28000,840
2,포르잔 C++ 바이블,"Behrouz A. Forouzan , Richard F. Gilberg",윤인성,2020-08-31,1192,"45,000",45000,1350
3,딥러닝을 위한 선형대수학,Gilbert Strang,부산대학교 산업수학센터(FFMIMC),2020-08-05,560,"38,000",38000,1140
4,"IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)","박우창 , 남송휘 , 이현룡",,2020-07-30,600,"29,000",29000,870
5,대학을 버려야 대학이 산다,조동성 외 인천대학교 가족 178명,,2020-07-25,216,"18,000",18000,540
6,"IT CookBook, 따라 하면서 배우는 사물인터넷",양재삼,,2020-07-23,448,"28,000",28000,840
7,R로 하는 다변량 데이터 분석 : 이론부터 실무 활용까지,"카와하시 잇코 , 이와마 노리카즈 , 스즈키 마사유키",권기태,2020-07-10,544,"32,000",32000,960
8,창의적 공학설계(3판),김은경,,2020-07-10,408,"23,000",23000,690
9,공학 핵심수학(2판) : 기초부터 심화까지 핵심만 쏙쏙,함남우,,2020-07-06,484,"23,000",23000,690
10,응용이 보이는 선형대수학 : 파이썬과 함께하는 선형대수학 이론과 응용,이건명,,2020-07-06,592,"31,000",31000,930
11,"IT CookBook, 초연결 사회의 데이터통신과 네트워킹",강문식,,2020-06-30,504,"29,000",29000,870
12,"IT CookBook, 쉽게 배우는 MFC 윈도우 프로그래밍","김선우 , 신화선",,2020-06-20,772,"30,000",30000,900
13,"IT CookBook, 인공지능 시대를 위한 컴퓨터 과학 개론",정기철,,2020-06-19,520,"27,000",27000,810
14,"IT CookBook, 코틀린을 활용한 안드로이드 프로그래밍","우재남 , 유혜림",,2020-06-19,564,"34,000",34000,1020
15,"IT CookBook, 처음 만나는 신재생에너지",김지홍,,2020-06-10,388,"25,000",25000,750
16,프리드버그 선형대수학,"스티븐 H. 프리드버그 , 아놀드 J. 인셀 , 로렌스 E. 스펜스","한빛수학교재연구소 , 심형보(감수)",2020-06-05,616,"35,000",35000,1050
17,"IT CookBook, CentOS 리눅스",이종원,,2020-05-30,792,"32,000",32000,960
18,"Microeconomics, 6th Edition, Asia Edition","David Besanko , Ronald Braeutigam",,2020-05-01,856,"49,000",49000,1470
19,누구나 파이썬 통계분석,타니아이 히로키,권기태,2020-04-06,384,"26,000",26000,780

### 마지막 단계

In [159]:
url ='https://www.hanbit.co.kr/academy/books/new_book_list.html'
html = requests.get(url, headers = headers).text
soup = BeautifulSoup(html, 'html.parser')
hanbit_list = soup.select_one('.paginate')
ex = hanbit_list.find('a', 'next')
ex.attrs['href']

'/academy/books/new_book_list.html?page=11&cate_cd=&srt=&searchKey=&keyWord='

In [160]:
hanbit_list.find_all('a')[-2]

In [161]:
# 페이지 수 찾기
hanbit_list = soup.select_one('.paginate')
if hanbit_list.find_all('a')[-1].attrs['class'] == ['next']:
    headers = {'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36'}
    aurl ='https://www.hanbit.co.kr/'
    burl = hanbit_list.find_all('a')[-1].attrs['href']
    html = requests.get(aurl+burl, headers = headers).text
    soup = BeautifulSoup(html, 'html.parser')
    hanbit_list = soup.select_one('.paginate')
    burl = hanbit_list.find_all('a')[-1].attrs['href']
    html = requests.get(aurl+burl, headers = headers).text
    soup = BeautifulSoup(html, 'html.parser')
    page = hanbit_list.find_all('a')[-1].get_text()
page = int(page)
page

16

In [162]:
# 페이지 수 찾기 try, except 활용
url ='https://www.hanbit.co.kr/academy/books/new_book_list.html'
html = requests.get(url, headers = headers).text
soup = BeautifulSoup(html, 'html.parser')
hanbit_list = soup.select_one('.paginate')
try:
    while 'next' in hanbit_list.find_all('a')[-1].attrs['class']:
        headers = {'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36'}
        aurl ='https://www.hanbit.co.kr/'
        burl = hanbit_list.find_all('a')[-1].attrs['href']
        html = requests.get(aurl+burl, headers = headers).text
        soup = BeautifulSoup(html, 'html.parser')
        hanbit_list = soup.select_one('.paginate')
except:
    burl = hanbit_list.find_all('a')[-1].attrs['href']
    html = requests.get(aurl+burl, headers = headers).text
    soup = BeautifulSoup(html, 'html.parser')
    page = hanbit_list.find_all('a')[-1].get_text()
    page = int(page)
page

16

In [163]:
hanbit_list.find_all('a')[-1]

In [169]:
from tqdm import tqdm_notebook
import time

In [170]:
book_names =[]; book_dates=[]; book_pages=[];book_writers= [];  ori_book_prices=[]; sale_book_prices=[]; mileages =[]; translators =[];

In [171]:
for last in tqdm_notebook(range(page)):
    headers = {'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36'}
    url =f'https://www.hanbit.co.kr/academy/books/new_book_list.html?page={last+1}&cate_cd=&srt=&searchKey=&keyWord='
    html = requests.get(url, headers = headers).text
    soup = BeautifulSoup(html, 'html.parser')
    newlist = soup.select('.book_tit')
    for book in newlist:
        aurl ='https://www.hanbit.co.kr/'
        burl = book.find('a').attrs['href']
        html = requests.get(aurl+burl, headers = headers).text
        soup = BeautifulSoup(html, 'html.parser')
        a = soup.select_one('.store_product_info_box')
        b = soup.select_one('.store_payment_area')
        book_names.append(a.find('h3').string)
        book_writers.append(a.find_all('li')[0].get_text().split(':')[-1])
        ori_book_prices.append(b.find('span', 'pbr').string.strip('원').replace(',',''))
        sale_book_prices.append(b.find_all('span')[3].get_text().split('원')[0].replace(',',''))
        mileages.append(b.find_all('span')[6].get_text().split('점')[0].replace(',',''))
        if a.find_all('li')[1].get_text().split(":")[0] == '번역 ' :
            translators.append(a.find_all('li')[1].get_text().split(':')[-1])
            book_dates.append(a.find_all('li')[2].get_text().split(':')[-1])
            book_pages.append(a.find_all('li')[3].get_text().split(':')[-1].strip('쪽'))
        else:
            translators.append(' ')
            book_dates.append(a.find_all('li')[1].get_text().split(':')[-1])
            book_pages.append(a.find_all('li')[2].get_text().split(':')[-1].strip('쪽'))

HBox(children=(FloatProgress(value=0.0, max=16.0), HTML(value='')))

In [172]:
last_book = pd.DataFrame({
    'book_name' : book_names,
    'book_writer' : book_writers,
    'translator' : translators,
    'book_date' : book_dates,
    'book_page' : book_pages,
    'ori_book_price' : ori_book_prices,
    'sale_book_price' : sale_book_prices,
    'mileage' : mileages
})

### 답

In [173]:
last_book

,book_name,book_writer,translator,book_date,book_page,ori_book_price,sale_book_price,mileage
0,포르잔 C++ 에센셜,"Behrouz A. Forouzan , Richard F. Gilberg",윤인성,2020-11-10,756,32000,32000,960
1,"IT CookBook, 액세스 2019로 배우는 데이터베이스 기초와 실습",김지연,,2020-09-28,536,28000,28000,840
2,포르잔 C++ 바이블,"Behrouz A. Forouzan , Richard F. Gilberg",윤인성,2020-08-31,1192,45000,45000,1350
3,딥러닝을 위한 선형대수학,Gilbert Strang,부산대학교 산업수학센터(FFMIMC),2020-08-05,560,38000,38000,1140
4,"IT CookBook, 오라클로 배우는 데이터베이스 개론과 실습(2판)","박우창 , 남송휘 , 이현룡",,2020-07-30,600,29000,29000,870
...,...,...,...,...,...,...,...,...
296,문제해결력을 키우는 이공계 글쓰기 : 발표와 토론까지,한성우,,2013-02-28,396,18000,18000,540
297,"진로개발과 직업세계 : 대학생과 청년층을 위한 진로, 취업지침서","서일수 , 김도균 , 김지혜 , 이정배",,2013-02-28,392,20000,20000,600
298,Essential Calculus,James Stewart,,2012-07-08,960,36000,36000,1080
299,"IT CookBook, 디지털 통신 시스템 : Digital Communicatio...","정호영 , 임승각",,2011-01-31,576,25000,25000,750
300,"IT CookBook, 운영체제론 : Operating Systems, 3rd Ed","하비 디텔 , 폴 디텔 , 데이빗 쇼픈스",송경희,2009-09-04,860,32000,32000,960

In [174]:
last_book.to_csv('New_book_list.csv', sep = ',' , encoding='utf8')