# SQLite3 활용

In [43]:
import sqlite3
conn = sqlite3.connect('./test.db')
cur = conn.cursor() 

rows = cur.fetchall()
for row in rows:
    print(row)

('장보고', 1000)

In [45]:
conn = sqlite3.connect('./test.db')
 
with conn:
    cur = conn.cursor()
    cur.execute('select * from test;')
    rows = cur.fetchall()
    for row in rows:
        print(row)

('장보고', 1000)

In [46]:
conn = sqlite3.connect('./test.db') 
cur = conn.cursor()
cur.execute('ALTER TABLE test ADD COLUMN age INTEGER')

OperationalError: duplicate column name: age

In [47]:
# 변경사항저장
conn.commit()

### 데이터 추가

In [48]:
cur = conn.cursor()
sql = "insert into test (name, age) values('장보고', 1000);" 
cur.excute(sql)

AttributeError: 'sqlite3.Cursor' object has no attribute 'excute'

In [ ]:
conn.commit()

In [52]:
#파라메터는 튜플로 전달
names = [('이우정',40),('김은숙',45)]
writers = cur.fetchall()
sql = "insert into test (name, age) values(?,?);" 
for writer in writers:
    cur.execute(sql, writer)
conn.commit()

cur.execute(sql, ('김수현'),60)
conn.commit

In [54]:
writers = [('노희경',30),('송지나',35)('임성한',40)]
cur.executemany(sql.writers)
conn.commit

TypeError: 'tuple' object is not callable

### 데이터 조회

In [29]:
cur = conn.cursor
select_sql = 'select * form test;'
cur.execute(select_sql)
row = cur.fetchone()
print(row)

AttributeError: 'builtin_function_or_method' object has no attribute 'execute'

In [30]:
rows = cur.fetchmany(3)
for row in rows:
    print(row)

AttributeError: 'builtin_function_or_method' object has no attribute 'fetchmany'

In [31]:
rows = cur.fetchmany(2)
for row in rows:
    print(row)

AttributeError: 'builtin_function_or_method' object has no attribute 'fetchmany'

In [50]:
rows = cur.fetchall()
for row in rows:
    print(row)

In [59]:
# 필요한 칼럼만 조회
cur = conn.cursor()
cur.execute("select name, age from test order by name")
rows = cur.fetchall()
for row in rows:
    print(row)

('김수현', 60)
('김은숙', 45)
('노희경', 30)
('송지나', 35)
('이우정', 40)
('임성한', 40)
('장보고', 1000)

In [63]:
# 원하는 순서 및 갯수
cur = conn.cursor()
cur.execute("select * from test order by age desc, name limit 3;")
rows = cur.fetchall()
for n in rows:
    print(n)

('장보고', 1000)
('김수현', 60)
('김은숙', 45)

In [66]:
# 함수
cur = conn.cursor()
cur.execute('select count(*) from test')
count = cur.fetchone()
print(count,count[0])

(7,) 7

In [69]:
cur.execute('select max(age), min(age), sum(age), avg(age) from test')
row = cur.fetchone()
print(row)

(1000, 30, 1250, 178.57142857142858)

In [72]:
cur.execute('select max(age), min(age), sum(age), avg(age) from test')
max_age, min_age, sum_age, ave_age = cur.fetchone()
print(max_age, min_age, sum_age, ave_age)

1000 30 1250 178.57142857142858

### 검색

In [79]:
cur = conn.cursor()
cur.execute('select * from test where age < ?', (50,))
rows = cur.fetchall()
for row in rows:
    print(row)

('이우정', 40)
('김은숙', 45)
('노희경', 30)
('송지나', 35)
('임성한', 40)

### 데이터 변경

In [85]:
cur.execute('update test set age=1300 where rowid = 2;')
conn.commit()

In [90]:
# 데이터 삭제
cur.execute('delete from test where name = "노희경";')
conn.commit()

SyntaxError: invalid syntax (<ipython-input-90-c26da4f193a9>, line 2)