In [1]:
import sqlite3
conn = sqlite3.connect('./test.db')

### 1번

### Eagles  테이블 만들기

In [2]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Eagles   (back_no INT NOT NULL, name varchar(10) , position TEXT, PRIMARY KEY(back_no));')
conn.commit()

### Pitcher_stats 테이블 만들기

In [3]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Pitcher_stats (back_no INT NOT NULL, ERA INT, IP varchar10, SO INT);')
conn.commit()

### 선수 추가하기

In [4]:
cur = conn.cursor()
cur.execute("insert into Eagles(back_no, name, position) values(54,'서균', '투수'),(5,'윤대경','투수'),(62,'강재민','투수'),(37,'김진영','투수'),(48,'장웅정','투수'),(67,'송윤준','투수'),(53,'김민우', '투수')")
conn.commit()

### 기록 추가하기

In [5]:
cur = conn.cursor()
cur.execute("insert into Pitcher_stats(back_no, ERA, IP, SO) values(54, 0.00, '7 1/3', 1),(5, 1.59, '51', 42), (62, 2.57, '49', 57),(37, 2.57, '54', 56), (48, 3.52, '7 2/3', 5), (67, 4.30, '23', 16),(53, 4.34, '132 2/3', 124)")
conn.commit()

### 테이블 합치기

In [6]:
cur = conn.cursor()
cur.execute("select l.back_no, l.name, l.position, r.ERA, r.IP, r.SO from Eagles AS l inner join Pitcher_stats AS r on l.back_no = r.back_no")
rows = cur.fetchall()
for row in rows:
    print(row)

(54, '서균', '투수', 0, '7 1/3', 1)
(5, '윤대경', '투수', 1.59, '51', 42)
(62, '강재민', '투수', 2.57, '49', 57)
(37, '김진영', '투수', 2.57, '54', 56)
(48, '장웅정', '투수', 3.52, '7 2/3', 5)
(67, '송윤준', '투수', 4.3, '23', 16)
(53, '김민우', '투수', 4.34, '132 2/3', 124)

### 2번

### 보이그룹 테이블 만들기

In [7]:
cur = conn.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS Boy_Group (id integer primary key autoincrement, group_name varchar(10) ,구성원 TEXT, 데뷔일자 DATETEXT,소속사 TEXT);")
conn.commit()

In [8]:
cur = conn.cursor()
cur.execute("insert into Boy_Group(group_name, 구성원, 데뷔일자, 소속사) values('EXO', '7', '2012-04-08','SM엔터테인먼트'),('BTS', '7', '2013-06-13', '빅히트 엔터테인먼트'),('빅뱅','4','2006-08-19','YG 엔터테인먼트'),('Highlight','4','2017-03-20','어라운드어스 엔터테인먼트'),('B1A4','3','2011-04-14','WM엔터테인먼트' )")
conn.commit()

### 노래 테이블 만들기

In [9]:
cur = conn.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS Song (song_id integer primary key autoincrement, song_name varchar(10) ,group_id TEXT, 발표날짜 DATETEXT,작곡가 TEXT, 도입부가사 TEXT);")
conn.commit()

In [10]:
cur = conn.cursor()
cur.execute("insert into Song(song_name, group_id, 발표날짜, 작곡가, 도입부가사) values('첫 눈', 'EXO', '2013-12-09', 'KENZIE, 김정배', '첫눈 오는 이런 오후에 너에게 전화를 걸 수만 있다면'),('Love Shot','EXO', '2018-12-13', 'Mike Woods, Kevin White', '차갑도록 서롤 겨눈 채 날이 선 듯 그 목소리엔'),('Dynamite', 'BTS', '2020-08-24', 'David Stewart, Jessica Agombar', 'Cos ah ah I’m in the stars tonight'),('작은 것들을 위한 시', 'BTS', '2019-04-12', 'Halsey, RM', '모든 게 궁금해 How’s your day Oh tell me'),('하루하루', '빅뱅', '2008-08-08', 'G-DRAGON, Daishi Dance', '떠나가 Ye the finally I reallize That I`m nu`ttin without you'),('거짓말', '빅뱅', '2007-08-16', '용감한 형제, G-DRAGON', 'ye love is pain to all my brokenhearted people'),('얼굴 찌푸리지 말아요', 'Highlight', '2017-03-20', 'Good Life', '오늘따라 유난히 웃지 않는 네가 왠지 슬퍼 보여'),('사랑했나봐', 'Highlight', '2018-11-20', 'Good Life', '그리운 하늘에 떠오른 그대가 맘을 들춰내고 또 날 춥게 해'),('잘자요 굿나잇', 'B1A4', '2012-05-24', '진영', '그래요 오늘은 먼저 자요 그대 잠들면 나도 잘게요'), ('이게 무슨 일이야','B1A4', '2013-05-06', '진영', 'every day yeah yeah yeah yeah every day yeah yeah yeah yeah')")
conn.commit()

### 테이블 합치기

In [11]:
cur = conn.cursor()
cur.execute("select l.group_name, l.구성원, l.데뷔일자, r.song_name, r.발표날짜 from Boy_Group AS l inner join Song AS r on l.group_name = r.group_id")
songs = cur.fetchall()
for song in songs:
    print(song)

('EXO', '7', '2012-04-08', 'Love Shot', '2018-12-13')
('EXO', '7', '2012-04-08', '첫 눈', '2013-12-09')
('BTS', '7', '2013-06-13', 'Dynamite', '2020-08-24')
('BTS', '7', '2013-06-13', '작은 것들을 위한 시', '2019-04-12')
('빅뱅', '4', '2006-08-19', '거짓말', '2007-08-16')
('빅뱅', '4', '2006-08-19', '하루하루', '2008-08-08')
('Highlight', '4', '2017-03-20', '사랑했나봐', '2018-11-20')
('Highlight', '4', '2017-03-20', '얼굴 찌푸리지 말아요', '2017-03-20')
('B1A4', '3', '2011-04-14', '이게 무슨 일이야', '2013-05-06')
('B1A4', '3', '2011-04-14', '잘자요 굿나잇', '2012-05-24')

### 3번

### 테이블 만들기

In [12]:
cur = conn.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS Users ('사용자' text ,'비밀번호' int);")
conn.commit()

### 사용자 계정 만들기

In [13]:
cur = conn.cursor()
cur.execute("insert into Users(사용자,비밀번호) values('홍길동', 1234), ('동길홍', 1234)")
conn.commit()

### 프로그램 만들기

In [14]:
cur = conn.cursor()
cur.execute("select * from users")
users = cur.fetchall()
for user in users:
    print(user)
uname = input('사용자 이름을 입력하세요>')
pwd = int(input('사용자 비밀번호를 입력하세요>'))
for i in users:
    if uname in i :
        if pwd == i[1]:
            print('성공!')
            break
        else:
            print('실패!')
            break

('홍길동', 1234)
('동길홍', 1234)
성공!

In [15]:
cur.close()
conn.close()